.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    vertical-align: middle;
    background: rgb(238, 174, 202);
    box-shadow: 0 0 10px rgba(238, 174, 202, 1);
    position: relative;
}

.head .right-top {
    display: flex;
    align-items: center;
}

.head .profile-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    margin-right: 10px;
    z-index: 2;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 30px;
    right: 20px;
    bottom: -265px;
    border-radius: 10px;
    background-color: rgba(204, 198, 198, 0.9);
    box-shadow: 0 0 10px rgb(204, 198, 198);
}

.dropdown::after {
    content: "\279A";
    position: absolute;
    top: -25px;
    right: 75px;
    font-size: 40px;
}

.dropdown .profile-photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
}

.dropdown .name {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
}

.dropdown .update {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 3rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdown .update:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}

.dropdown .logout {
    border-color: #de1738;
    background-color: #de1738;
}

.dropdown .logout:hover {
    background-color: #f21b3f;
}

.edit-form {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: 100vh;
    width: 100vw;
    border-radius: 10px;
    background-color: rgba(204, 198, 198, 0.8);
    box-shadow: 0 0 10px rgb(204, 198, 198);
    overflow: auto;
}

.edit-form form {
    margin-top: 60px;
    position: relative;
    width: 60%;
}

.edit-form .profile-photo {
    height: 80px;
    width: 80px;
    margin: 20px;
    border-radius: 50%;
    background: white;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    cursor: pointer;
}

.edit-form .avatar {
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
}
.dp {
    position: absolute;
    z-index: 20;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
}

.upload {
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 20px;
    width: 20px;
    padding: 4px;
    box-shadow: 0 0 8px rgb(240, 240, 240);
    background-color: rgb(236, 236, 236);
    border-radius: 50%;
    z-index: 30;
    cursor: pointer;
}

.upload::after {
    content: "+";
    position: absolute;
    left: 5.5px;
    top: -5px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(160, 149, 149);
}

.upload input {
    display: none;
}
